%h1 Trains scheduler
.flex-container
  .flex-item
    .clock
      %ul
        %li#hours 00
        %li#separator :
        %li#minutes 00
        %li#separator :
        %li#seconds 00

  = link_to "Create train", new_train_path
